# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.4dm'
'name': '4dm'
'type': 'tree-sitter'
'parser': 'tree-sitter-4dm'

'fileTypes': [
  '4dm'
]

'comments':
  'start': '/*'
  'end': '*/'

'scopes':

  '''
  comment
  ''' : 'comment.block'

  '''
  while,
  until,
  for_each,
  end_for_each
  ''' : 'keyword.control'
