# If this is your first time writing a language grammar, check out:
#   - https://flight-manual.atom.io/hacking-atom/sections/creating-a-grammar/

'scopeName': 'source.4dm'
'name': '4dm'
'type': 'tree-sitter'
'parser': 'tree-sitter-4dm'

'fileTypes': [
  '4dm'
]

'comments':
  'start': '/*'
  'end': '*/'

'folds': [
  'type': ['for_each_block']
  'start': {'type': 'for_each'}
  'end': {'type': 'end_for_each'}
]

'scopes':

  '''
  comment
  ''' : 'comment.block'

  '''
  number
  ''' : 'constant.numeric' 

  '''
  while,
  until,
  for_each,
  end_for_each
  ''' : 'keyword.control'
